* {
    padding: 0px;
    margin: 0px;
}

.addTodoCotainer {
    display: none;
}

/* div { */
    /* border: 1px solid black; */
/* } */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 99.8vw;
    height: 99.7vh;
}

.todoList {
    background-color: rgb(243, 178, 80);
}

.inProgress {
    background-color: rgb(250, 250, 65);
}

.completed {
    background-color: rgb(122, 252, 122);
}